.head {
width: 500px; height: 500px;
}

.body {
width: 250px; height: 100px;
}


.container-1 input#search{
width: 350px;
  height: 25px;

  
   color: #65737e;  
 
}

.container-1 input#submit #input#submit1{

  float: center;
  position:absolute;
  
  left: 200px;
top: 150px;
 
 
}



#logo {
 margin: 200px -100px 200px 200px;
position: absolute;
left: 400px;
top: 25px;
float:left;
}

 
